.listTodos {
  display: grid;
  grid-template-columns: 1fr 50px 50px;
  margin-bottom: 15px;
  border-radius: 15px;
  gap: 10px;

  &Label {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    text-align: start;
    padding: 10px 15px;
    margin-bottom: 12px;
    height: 40px;
    font-weight: normal;
    font-size: 16px;
  }

  &Checkbox {
    content:'✓';
    width: 20px;
    height: 20px;
    margin-right: 15px;

    :after:before {
      content:'✓';
      position: absolute;
      display: none;
    }
  }

  &Title {
    padding: 5px;
    line-height: 1.2;
  }


  &Description {
    font: 1rem/1em 'Roboto', sans-serif;
    border: none;
    padding: 5px;
    background: none;
    box-shadow: 0 4px 0 -3px;
  }

  &Edit, &Delete, &Save {
    display: block;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: opacity 0.3s;
    background: lightsteelblue;
    font-size: 16px;
    font-weight: bolder;
    text-align: center;


    &:hover {
      opacity: 0.7;
    }
  }
}